vendor/
packages/
logs/*
!logs/.gitkeep
.env
.idea/
identifier.db
docker-compose.override.yml
.phpunit.cache/
.phpunit.result.cache

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
.env.dev
.env.test
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/config/reference.php
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###

###> ide/jetbrains ###
index.html
script.js
styles.css
package.xml
###< ide/jetbrains ###
