<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}⚡ fast-php-logger{% endblock %}</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
    {% block styles %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
    {% block scripts %}{% endblock %}
    <script src="/suite-nav.js"></script>
</body>
</html>
